.container{
    height: 100vh;
    width: 100vw;
}

.container button{
    margin-top: 30px;
}

.content{
    height: 85%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: #333;
}

.content h1{
    margin-bottom: 40px;
}

.content h4{
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
}