.small button{
    margin: 5px;
}

.normal button{
    margin: 10px;
}

.big button{
    margin: 25px;
}

.xbig button{
    margin: 40px;
}

.space-normal a{
    margin-right: 10px;
}

.space-big a{
    margin-right: 15px;
}

.space-xbig a{
    margin-right: 25px;
}

.form-normal .form-group{
    margin-bottom: 24px;
}

.form-big .form-group{
    margin-bottom: 30px;
}

.form-xbig .form-group{
    margin-bottom: 40px;
}